# Telegram Bot Framework
python-telegram-bot==21.0

# Networking & API Requests
requests==2.32.3
aiohttp==3.10.10
async-timeout==4.0.3

# Ethereum & Blockchain API Libraries
web3==7.5.0
eth-abi==5.1.0
eth-hash==0.7.0
eth-keyfile==0.8.1
eth-keys==0.5.1
eth-typing==5.0.1
eth-utils==5.0.0
rlp==4.0.1

# Environment Variable Management
python-dotenv==1.0.1

# Data Processing
pandas==2.2.2
numpy==1.26.4
scipy==1.12.0

# Utility Libraries
tornado==6.1
toolz==0.11.1

Flask==3.0.3
async-timeout==4.0.3
pydantic==2.9.2
